@using System.Web.Mvc.Html
@model Bespoke.Sph.Web.ViewModels.FormRendererViewModel
@{
    Layout = null;
    var caption = string.IsNullOrWhiteSpace(Model.Form.Caption) ? Model.Form.Name : Model.Form.Caption;
    var @step1 = Model.Form.Id == "consigment-request-details" ? " active" : "";
    var @step2 = Model.Form.Id == "consignment-request-receiver" ? " active" : "";
    var @step3 = Model.Form.Id == "consignment-request-product" ? " active" : "";
    var @step4 = Model.Form.Id == "consignment-request-summary" ? " active" : "";
}
<div class="mt-element-step">

    <div class="mt-element-step">
        <div class="row step-background-thin">
            
            <div class="col-md-3 bg-grey-steel mt-step-col @step1">
                <div class="mt-step-number">1</div>
                <div class="mt-step-title uppercase font-grey-cascade">Sender</div>
                <div class="mt-step-content font-grey-cascade">Sender Information</div>
            </div>
            <div class="col-md-3 bg-grey-steel mt-step-col @step2">
                <div class="mt-step-number">2</div>
                <div class="mt-step-title uppercase font-grey-cascade">Receiver</div>
                <div class="mt-step-content font-grey-cascade">Receiver Information</div>
            </div>
            <div class="col-md-3 bg-grey-steel mt-step-col @step3">
                <div class="mt-step-number">3</div>
                <div class="mt-step-title uppercase font-grey-cascade">Product</div>
                <div class="mt-step-content font-grey-cascade">Consignment Product</div>
            </div>
            <div class="col-md-3 bg-grey-steel mt-step-col @step4">
                <div class="mt-step-number">4</div>
                <div class="mt-step-title uppercase font-grey-cascade">Summary</div>
                <div class="mt-step-content font-grey-cascade">Consignment Summary</div>
            </div>
        </div>
    </div>

</div>

<h1 class="page-title">
    @Model.Form.Caption
    <small>@Model.Form.Note</small>
</h1>
<div class="row">
    <div class="col-sm-8">
        @Html.Partial("_MaterialDesignFormContent")
    </div>

</div>