@model web.sph.App_Code.printConnoteModel
@{
    Layout = null;
    var totalInvoiceValue = Model.consignment.Produk.CustomDeclaration.Value1 + Model.consignment.Produk.CustomDeclaration.Value2 + Model.consignment.Produk.CustomDeclaration.Value3;
    var totalWeight = Model.consignment.Produk.CustomDeclaration.Weight1 + Model.consignment.Produk.CustomDeclaration.Weight2 + Model.consignment.Produk.CustomDeclaration.Weight3;
}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>Pos Laju EziSend</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="Online Shipping Tool, Pos Malaysia Berhad" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="~/assets/admin/pages/css/invoice.min.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="~/assets/admin/layouts/layout/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/admin/layouts/layout/css/custom.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME LAYOUT STYLES -->
</head>
<!-- END HEAD -->
<body>
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <div class="row">
            <br /><br />
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="invoice">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <center>
                                <p>
                                    <h3 class="bold">COMMERCIAL INVOICE</h3>
                                </p>
                            </center>
                        </div>
                        <div class="col-md-2">
                            <div class="pull-right">
                                <a class="btn btn-circle btn-sm yellow-casablanca hidden-print margin-bottom-10" onclick="javascript:window.print();">
                                    Print
                                    <i class="fa fa-print"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <br /><br /><br />
                    <div class="row">
                        <div class="col-xs-4">
                            <h3>Sender:</h3>
                            <ul class="list-unstyled">
                                <li> <strong><span class="text-capitalize">@Html.Raw(Model.consignment.Pemberi.ContactPerson)</span></strong> </li>
                                <li> <span>@Html.Raw(Model.consignment.Pemberi.Address.Address1)</span>, <span>@Html.Raw(Model.consignment.Pemberi.Address.Address2)</span> </li>
                                @if (!String.IsNullOrEmpty(Model.consignment.Pemberi.Address.Address3) || !String.IsNullOrEmpty(Model.consignment.Pemberi.Address.Address4))
                                {
                                    <li> <span>@Html.Raw(Model.consignment.Pemberi.Address.Address3)</span>, <span>@Html.Raw(Model.consignment.Pemberi.Address.Address4)</span> </li>
                                }
                                <li> <span>@Html.Raw(Model.consignment.Pemberi.Address.Postcode)</span> <span>@Html.Raw(Model.consignment.Pemberi.Address.City)</span> </li>
                                <li> <span>@Html.Raw(Model.consignment.Pemberi.Address.State)</span> </li>
                                <li> <span>Malaysia</span> </li>
                            </ul>
                        </div>
                        <div class="col-xs-4">
                        </div>
                        <div class="col-xs-4 invoice-payment">
                            <h3>&nbsp;</h3>
                            <ul class="list-unstyled">
                                <li>
                                    <strong>Date:</strong> <span>@Html.Raw(Model.pickupDate.ToShortDateString())</span>
                                </li>
                                <li>
                                    <strong>Airwaybill No:</strong> <span>@Html.Raw(Model.consignment.ConNote)</span>
                                </li>
                                <li>
                                    <strong>Phone No:</strong>&nbsp;<span>@Html.Raw(Model.consignment.Pemberi.ContactInformation.ContactNumber)</span>
                                </li>
                                @if (!String.IsNullOrEmpty(Model.consignment.Pemberi.ContactInformation.AlternativeContactNumber))
                                {
                                    <li>
                                        <strong>Alt Phone No:</strong>&nbsp;<span>@Html.Raw(Model.consignment.Pemberi.ContactInformation.AlternativeContactNumber)</span>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-xs-4">
                            <h3>Recepient:</h3>
                            <ul class="list-unstyled">
                                <li> <strong><span class="text-capitalize">@Html.Raw(Model.consignment.Penerima.ContactPerson)</span></strong> </li>
                                <li> <span>@Html.Raw(Model.consignment.Penerima.Address.Address1)</span>, <span>@Html.Raw(Model.consignment.Penerima.Address.Address2)</span> </li>
                                @if (!String.IsNullOrEmpty(Model.consignment.Penerima.Address.Address3) || !String.IsNullOrEmpty(Model.consignment.Penerima.Address.Address4))
                                {
                                    <li> <span>@Html.Raw(Model.consignment.Penerima.Address.Address3)</span>, <span>@Html.Raw(Model.consignment.Penerima.Address.Address4)</span> </li>
                                }
                                <li> <span>@Html.Raw(Model.consignment.Penerima.Address.Postcode)</span> <span>@Html.Raw(Model.consignment.Penerima.Address.City)</span> </li>
                                <li> <span>@Html.Raw(Model.consignment.Penerima.Address.State)</span> </li>
                                <li> <span class="text-capitalize">@Html.Raw(Model.consignment.Penerima.Address.Country.ToLower())</span> </li>
                            </ul>
                        </div>
                        <div class="col-xs-4">
                        </div>
                        <div class="col-xs-4 invoice-payment">
                            <h3>&nbsp;</h3>
                            <ul class="list-unstyled">
                                <li>
                                    <strong>Phone No:</strong>&nbsp;<span>@Html.Raw(Model.consignment.Penerima.ContactInformation.ContactNumber)</span>
                                </li>
                                @if (!String.IsNullOrEmpty(Model.consignment.Penerima.ContactInformation.AlternativeContactNumber))
                                {
                                    <li>
                                        <strong>Alt Phone No:</strong>&nbsp;<span>@Html.Raw(Model.consignment.Penerima.ContactInformation.AlternativeContactNumber)</span>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th> Number </th>
                                        <th> Content Description </th>
                                        <th> Origin Country </th>
                                        <th> Quantity (pcs) </th>
                                        <th class="hidden-print" hidden> Value (pcs) </th>
                                        <th> Total </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> 1 </td>
                                        <td> <span>@Html.Raw(Model.consignment.Produk.CustomDeclaration.ContentDescription1)</span> </td>
                                        <td> <span>@Html.Raw(Model.consignment.Produk.CustomDeclaration.OriginCountry1)</span> </td>
                                        <td> <span>@Html.Raw(Model.consignment.Produk.CustomDeclaration.Quantity1)</span> </td>
                                        <td> MYR <span>@Html.Raw(String.Format("{0:F2}", Model.consignment.Produk.CustomDeclaration.Value1))</span> </td>
                                    </tr>
                                    @if (!String.IsNullOrEmpty(Model.consignment.Produk.CustomDeclaration.ContentDescription2))
                                    {
                                        <tr>
                                            <td> 2 </td>
                                            <td> <span>@Html.Raw(Model.consignment.Produk.CustomDeclaration.ContentDescription2)</span> </td>
                                            <td> <span>@Html.Raw(Model.consignment.Produk.CustomDeclaration.OriginCountry2)</span> </td>
                                            <td> <span>@Html.Raw(Model.consignment.Produk.CustomDeclaration.Quantity2)</span> </td>
                                            <td> MYR <span>@Html.Raw(String.Format("{0:F2}", Model.consignment.Produk.CustomDeclaration.Value2))</span> </td>
                                        </tr>
                                    }
                                    @if (!String.IsNullOrEmpty(Model.consignment.Produk.CustomDeclaration.ContentDescription3))
                                    {
                                        <tr>
                                            <td> 3 </td>
                                            <td> <span>@Html.Raw(Model.consignment.Produk.CustomDeclaration.ContentDescription3)</span> </td>
                                            <td> <span>@Html.Raw(Model.consignment.Produk.CustomDeclaration.OriginCountry3)</span> </td>
                                            <td> <span>@Html.Raw(Model.consignment.Produk.CustomDeclaration.Quantity3)</span> </td>
                                            <td> MYR <span>@Html.Raw(String.Format("{0:F2}", Model.consignment.Produk.CustomDeclaration.Value3))</span> </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br /><br />
                    <div class="row">
                        <div class="col-xs-4">
                            <div>
                                <address>
                                    <strong>Total Weight:</strong> <span>@Html.Raw(String.Format("{0:F1}", totalWeight))</span> kg
                                </address>
                                <address>
                                    <strong>Dim Weight:</strong> <span>@Html.Raw(String.Format("{0:F1}", Model.volMetricWeight))</span> kg
                                </address>
                            </div>
                        </div>
                        <div class="col-xs-8 invoice-block">
                            <ul class="list-unstyled amounts">
                                <li>
                                    <strong>Total Invoice Value:</strong> <span>MYR @Html.Raw(String.Format("{0:F2}", totalInvoiceValue))</span>
                                </li>
                            </ul>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
    <!--[if lt IE 9]>
    <script src="~/assets/global/plugins/respond.min.js"></script>
    <script src="~/assets/global/plugins/excanvas.min.js"></script>
    <script src="~/assets/global/plugins/ie8.fix.min.js"></script>
    <![endif]-->
    <!-- BEGIN CORE PLUGINS -->
    <script src="~/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="~/assets/global/scripts/app.min.js" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <script src="~/assets/admin/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
    <script src="~/assets/admin/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
    <script src="~/assets/admin/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
    <script src="~/assets/admin/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
    <!-- END THEME LAYOUT SCRIPTS -->
</body>
</html>