@model web.sph.App_Code.printConnoteModel
@{
    Layout = null;
}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>Pos Laju EziSend</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Online Shipping Tool, Pos Malaysia Berhad" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="~/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="~/assets/admin/pages/css/invoice.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/general/css/connotes.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->
</head>
<!-- END HEAD -->
<body>
    <div id="connote-page">
        <br />
        <!-- Connote Sheet 1 Parent -->
        <div class="container">
            <table class="table connote-sheet-3">
                @*======== ROW 0 ======*@
                <tr>
                    <td class="td-hide">col-01</td>
                    <td class="td-hide">col-02</td>
                    <td class="td-hide">col-03</td>
                    <td class="td-hide">col-04</td>
                    <td class="td-hide">col-05</td>
                    <td class="td-hide">col-06</td>
                    <td class="td-hide">col-07</td>
                    <td class="td-hide">col-08</td>
                    <td class="td-hide">col-09</td>
                    <td class="td-hide">col-10</td>
                    <td class="td-hide">col-11</td>
                    <td class="td-hide">col-12</td>
                    <td class="td-hide">col-13</td>
                    <td class="td-hide">col-14</td>
                    <td rowspan="5" colspan="9">
                        <svg id="barcode"></svg><br />
                        @if (Model.consignment.IsMps)
                        {
                            <span style="padding-left: 150px;font-size: 13px !important;"><b>1 / @Html.Raw(Model.consignment.BabyConnotesTotal)</b></span>
                        }
                        else
                        {
                            <span>&nbsp;</span>
                        }
                    </td>
                    <td class="td-hide">col-24</td>
                </tr>
                @*======== ROW 1 =======*@
                <tr>
                    <td class="td-hide">col-01</td>
                    <td class="td-hide">col-02</td>
                    <td class="td-hide">col-03</td>
                    <td class="td-hide">col-04</td>
                    <td class="td-hide">col-05</td>
                    <td class="td-hide">col-06</td>
                    <td colspan="4" style="padding-top: 6px !important;padding-left: 14px !important;"><span class="text-uppercase" style="font-size: 8pt;"><b>@Html.Raw(Model.referenceNo)</b></span></td>
                    <td class="td-hide">col-11</td>
                    <td class="td-hide">col-12</td>
                    <td class="td-hide">col-13</td>
                    <td class="td-hide">col-14</td>
                    <td class="td-hide">col-24</td>

                </tr>
                @*======== ROW 2 =======*@
                <tr>
                    <td class="td-hide">col-01</td>
                    <td class="td-hide">col-02</td>
                    <td class="td-hide">col-03</td>
                    @if (Model.designation == "Contract customer")
            {
                        <td colspan="10" style="padding-left: 16px !important; font-size: 10pt !important;"><span><b>Ref No. @Html.Raw(Model.consignment.Produk.Est.ShipperReferenceNo)</b></span><span style="padding-right:34px !important;" class="pull-right"><b>Account No. @Html.Raw(Model.accountNo)</b></span></td>
                    }
                    else
                    {
                        <td colspan="10"><span>&nbsp;</span></td>
                    }
                    <td class="td-hide">col-14</td>
                    <td class="td-hide">col-24</td>

                </tr>
                @*======== ROW 3 =======*@
                <tr>
                    <td class="td-hide">col-01</td>
                    <td rowspan="7" colspan="12">
                        <address style="padding-left: 33px;font-size: 10pt;line-height: 1.4;margin-top: -6px;margin-bottom: 0px !important;">
                            <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Pemberi.ContactPerson.Substring(0, Model.consignment.Pemberi.ContactPerson.Length > 36 ? 36 : Model.consignment.Pemberi.ContactPerson.Length))</b></span><br />
                            <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Pemberi.Address.Address1.Substring(0, Model.consignment.Pemberi.Address.Address1.Length > 36 ? 36 : Model.consignment.Pemberi.Address.Address1.Length))</b></span><br />
                            <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Pemberi.Address.Address2.Substring(0, Model.consignment.Pemberi.Address.Address2.Length > 36 ? 36 : Model.consignment.Pemberi.Address.Address2.Length))</b></span><br />
                            @if (!String.IsNullOrEmpty(Model.consignment.Pemberi.Address.Address3))
                            {
                                <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Pemberi.Address.Address3.Substring(0, Model.consignment.Pemberi.Address.Address3.Length > 36 ? 36 : Model.consignment.Pemberi.Address.Address3.Length))</b></span><br />

                            }
                            else
                            {
                                <span class="text-uppercase">&nbsp;</span><br />
                            }
                            @if (!String.IsNullOrEmpty(Model.consignment.Pemberi.Address.Address4))
                            {
                                <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Pemberi.Address.Address4.Substring(0, Model.consignment.Pemberi.Address.Address4.Length > 36 ? 36 : Model.consignment.Pemberi.Address.Address4.Length))</b></span><br />
                            }
                            else
                            {
                                <span class="text-uppercase">&nbsp;</span><br />
                            }
                            <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Pemberi.Address.City)</b></span>
                            <br />
                            <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Pemberi.Address.State)</b></span>
                            <br />
                            <span class="loose text-uppercase"><b>@Html.Raw(Model.consignment.Pemberi.Address.Postcode)</b></span>
                            <br />
                            <span style="padding-left: 55px;line-height: 2;"><b><span class="text-uppercase">@Html.Raw(Model.consignment.Pemberi.ContactInformation.ContactNumber) / </span><i>@Html.Raw(Model.consignment.Pemberi.ContactInformation.Email)</i></b></span>
                        </address>
                    </td>
                    <td class="td-hide">col-14</td>
                    <td class="td-hide">col-24</td>
                </tr>
                @*======== ROW 4 =======*@
                <tr>
                    <td class="td-hide">col-01</td>
                    <td class="td-hide">col-14</td>
                    <td class="td-hide">col-24</td>

                </tr>
                @*======== ROW 5 =======*@
                <tr>
                    <td class="td-hide">col-01</td>
                    <td class="td-hide">col-14</td>
                    <td class="td-hide">col-15</td>
                    <td class="td-hide">col-16</td>
                    <td class="td-hide">col-17</td>
                    <td class="td-hide">col-18</td>
                    <td class="td-hide">col-19</td>
                    <td class="td-hide">col-20</td>
                    <td class="td-hide">col-21</td>
                    <td class="td-hide">col-22</td>
                    <td class="td-hide">col-23</td>
                    <td class="td-hide">col-24</td>
                </tr>

                @*======== ROW 6 =======*@
                <tr>
                    <td class="td-hide">col-01</td>
                    <td rowspan="3" colspan="5" style="padding-bottom: 13px !important;">
                        <address style="padding-left: 22px;font-size: 11px;line-height: 1.6;margin-top: 6px;margin-bottom: 0px !important;">
                            <span class="text-uppercase"><b>@Html.Raw(Model.pickupDate.ToShortDateString())</b></span><br />
                            <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Produk.ItemCategory)</b></span><br />
                            <span class="text-uppercase" style="padding-left: 10px;"><b>@Html.Raw(Model.consignment.Produk.Weight) kg</b></span><br />
                        </address>
                    </td>
                    <td rowspan="5" colspan="5">
                        <address style="font-size: 11px;line-height: 2;margin-top: 6px;margin-bottom: 0px !important;">
                            @if (Model.consignment.Produk.ValueAddedDeclaredValue != 0)
                            {
                                <span class="text-uppercase" style="padding-left: 51px;"><b>YES</b></span><span class="text-uppercase" style="padding-left: 72px;"><b><span>RM</span>@Html.Raw(Model.consignment.Produk.ValueAddedValue)</b></span><br />
                                <span class="text-uppercase" style="padding-left: 145px;"><b><span>RM</span>@Html.Raw(Model.consignment.Produk.ValueAddedDeclaredValue)</b></span><br />
                                <span class="text-uppercase" style="padding-left: 69px;"><b>@Html.Raw(Model.consignment.Produk.ValueAddedCode)</b></span><br />
                            }
                            else
                            {
                                <span class="text-uppercase" style="padding-left: 53px;"><b>NIL</b></span><br />
                                <span class="text-uppercase" style="padding-left: 145px;">&nbsp;</span><br />
                                <span class="text-uppercase" style="padding-left: 69px;">&nbsp;</span><br />
                            }
                        </address>
                    </td>
                    <td class="td-hide">col-24</td>
                </tr>
                @*======== ROW 7 =======*@
                <tr>
                    <td class="td-hide">col-01</td>

                    <td class="td-hide">col-24</td>
                </tr>
                @*======== ROW 8 =======*@
                <tr>
                    <td class="td-hide">col-01</td>
                    <td class="td-hide">col-24</td>
                </tr>
                @*======== ROW 9 =======*@
                <tr>
                    <td class="td-hide">col-01</td>
                    <td class="td-hide">col-14</td>
                    <td class="td-hide">col-15</td>
                    <td class="td-hide">col-16</td>
                    <td class="td-hide">col-17</td>
                    <td class="td-hide">col-18</td>
                    <td class="td-hide">col-24</td>
                </tr>
                @*======== ROW 10 ======*@
                <tr>
                    <td class="td-hide">col-01</td>
                    <td class="td-hide">col-02</td>
                    <td class="td-hide">col-03</td>
                    @if (Model.designation == "Contract customer")
            {
                        <td colspan="10" style="padding-left: 30px !important; font-size: 10pt !important;"><span><b>Ref No. @Html.Raw(Model.consignment.Produk.Est.ReceiverReferenceNo)</b></span></td>
                    }
                    else
                    {
                        <td colspan="10"><span>&nbsp;</span></td>
                    }
                    <td class="td-hide">col-14</td>
                    <td class="td-hide">col-15</td>
                    <td class="td-hide">col-16</td>
                    <td class="td-hide">col-17</td>
                    <td class="td-hide">col-18</td>
                    <td class="td-hide">col-24</td>
                </tr>
                @*======== ROW 11 ======*@
                <tr>
                    <td class="td-hide">col-01</td>
                    <td rowspan="9" colspan="12">
                        <address style="padding-left: 33px;font-size: 10pt;line-height: 1.4;margin-bottom: 0px !important;">
                            <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Penerima.ContactPerson)</b></span><br />
                            <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Penerima.Address.Address1.Substring(0, Model.consignment.Penerima.Address.Address1.Length > 36 ? 36 : Model.consignment.Penerima.Address.Address1.Length))</b></span><br />
                            <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Penerima.Address.Address2.Substring(0, Model.consignment.Penerima.Address.Address2.Length > 36 ? 36 : Model.consignment.Penerima.Address.Address2.Length))</b></span><br />
                            @if (!String.IsNullOrEmpty(Model.consignment.Penerima.Address.Address3))
                            {
                                <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Penerima.Address.Address3.Substring(0, Model.consignment.Penerima.Address.Address3.Length > 36 ? 36 : Model.consignment.Penerima.Address.Address3.Length))</b></span><br />

                            }
                            else
                            {
                                <span class="text-uppercase">&nbsp;</span><br />
                            }
                            @if (!String.IsNullOrEmpty(Model.consignment.Penerima.Address.Address4))
                            {
                                <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Penerima.Address.Address4.Substring(0, Model.consignment.Penerima.Address.Address4.Length > 36 ? 36 : Model.consignment.Penerima.Address.Address4.Length))</b></span><br />
                            }
                            else
                            {
                                <span class="text-uppercase">&nbsp;</span><br />
                            }
                            <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Penerima.Address.City)</b></span><br />
                            <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Penerima.Address.State)</b></span><br />
                            <span style="padding-left: 55px;line-height: 1.7;"><b><span class="text-uppercase">@Html.Raw(Model.consignment.Penerima.ContactInformation.ContactNumber) / </span><i>@Html.Raw(Model.consignment.Penerima.ContactInformation.Email)</i></b></span><br />
                            <span class="loose2 text-uppercase" style="line-height: 2;"><b>@Html.Raw(Model.consignment.Penerima.Address.Postcode)</b></span>
                        </address>
                    </td>
                    <td rowspan="2" colspan="5">
                        <address style="font-size: 9pt;margin-top: -3px;margin-bottom: 0px !important;">
                            <span class="text-uppercase"><b>1</b></span>
                            <span class="text-uppercase" style="padding-left: 13px;"><b>@Html.Raw(Model.consignment.Produk.Description.Substring(0, Model.consignment.Produk.Description.Length > 14 ? 14 : Model.consignment.Produk.Description.Length))</b></span>
                            <span class="text-uppercase pull-right" style="padding-right: 13px;"><b><span>RM</span>@Html.Raw(Model.consignment.Produk.ValueAddedDeclaredValue)</b></span>
                        </address>
                    </td>
                    <td class="td-hide">col-19</td>
                    <td class="td-hide">col-20</td>
                    <td class="td-hide">col-21</td>
                    <td class="td-hide">col-22</td>
                    <td class="td-hide">col-23</td>
                    <td class="td-hide">col-24</td>
                </tr>
                @*======== ROW 12 ======*@
                <tr>
                    <td class="td-hide">col-01</td>
                    <td class="td-hide">col-19</td>
                    <td class="td-hide">col-20</td>
                    <td class="td-hide">col-21</td>
                    <td class="td-hide">col-22</td>
                    <td class="td-hide">col-23</td>
                    <td class="td-hide">col-24</td>
                </tr>
                @*======== ROW 13 ======*@
                <tr>
                    <td class="td-hide">col-01</td>
                    <td rowspan="7" colspan="5" style="padding-left: 20px !important;"><div id="bcTarget1"></div></td>
                    <td class="td-hide">col-19</td>
                    <td class="td-hide">col-20</td>
                    <td class="td-hide">col-21</td>
                    <td class="td-hide">col-22</td>
                    <td class="td-hide">col-23</td>
                    <td class="td-hide">col-24</td>
                </tr>
                @*======== ROW 14 ======*@
                <tr>
                    <td class="td-hide">col-01</td>
                    <td class="td-hide">col-19</td>
                    <td class="td-hide">col-20</td>
                    <td class="td-hide">col-21</td>
                    <td class="td-hide">col-22</td>
                    <td class="td-hide">col-23</td>
                    <td class="td-hide">col-24</td>
                </tr>
                @*======== ROW 15 ======*@
                <tr>
                    <td class="td-hide">col-01</td>
                    <td class="td-hide">col-19</td>
                    <td class="td-hide">col-20</td>
                    <td class="td-hide">col-21</td>
                    <td class="td-hide">col-22</td>
                    <td class="td-hide">col-23</td>
                    <td class="td-hide">col-24</td>
                </tr>
                @*======== ROW 16 ======*@
                <tr>
                    <td class="td-hide">col-01</td>
                    <td class="td-hide">col-19</td>
                    <td class="td-hide">col-20</td>
                    <td class="td-hide">col-21</td>
                    <td class="td-hide">col-22</td>
                    <td class="td-hide">col-23</td>
                    <td class="td-hide">col-24</td>
                </tr>
                @*======== ROW 17 ======*@
                <tr>
                    <td class="td-hide">col-01</td>
                    <td class="td-hide">col-19</td>
                    <td class="td-hide">col-20</td>
                    <td class="td-hide">col-21</td>
                    <td class="td-hide">col-22</td>
                    <td class="td-hide">col-23</td>
                    <td class="td-hide">col-24</td>
                </tr>
                @*======== ROW 18 ======*@
                <tr>
                    <td class="td-hide">col-01</td>
                    <td class="td-hide">col-19</td>
                    <td class="td-hide">col-20</td>
                    <td class="td-hide">col-21</td>
                    <td class="td-hide">col-22</td>
                    <td class="td-hide">col-23</td>
                    <td class="td-hide">col-24</td>
                </tr>
                @*======== ROW 19 ======*@
                <tr>
                    <td class="td-hide">col-01</td>
                    <td class="td-hide">col-19</td>
                    <td class="td-hide">col-20</td>
                    <td class="td-hide">col-21</td>
                    <td class="td-hide">col-22</td>
                    <td class="td-hide">col-23</td>
                    <td class="td-hide">col-24</td>
                </tr>
                @*======== ROW 20 ======*@
                <tr>
                    <td class="td-hide">col-01</td>
                    <td class="td-hide">col-02</td>
                    <td class="td-hide">col-03</td>
                    <td class="td-hide">col-04</td>
                    <td class="td-hide">col-05</td>
                    <td class="td-hide">col-06</td>
                    <td class="td-hide">col-07</td>
                    <td class="td-hide">col-08</td>
                    <td class="td-hide">col-09</td>
                    <td class="td-hide">col-10</td>
                    <td class="td-hide">col-11</td>
                    <td class="td-hide">col-12</td>
                    <td class="td-hide">col-13</td>
                    <td class="td-hide">col-14</td>
                    <td class="td-hide">col-15</td>
                    <td class="td-hide">col-16</td>
                    <td class="td-hide">col-17</td>
                    <td class="td-hide">col-18</td>
                    <td class="td-hide">col-19</td>
                    <td class="td-hide">col-20</td>
                    <td class="td-hide">col-21</td>
                    <td class="td-hide">col-22</td>
                    <td class="td-hide">col-23</td>
                    <td class="td-hide">col-24</td>
                </tr>
            </table>
        </div>
        <hr /><br />
        <!-- Connote Sheet 2 Parent -->
        <div class="container">
            <table class="table connote-sheet-4">
                @*======== ROW 0 ======*@
                <tr>
                    <td class="td-hide">col-01</td>
                    <td class="td-hide">col-02</td>
                    <td class="td-hide">col-03</td>
                    <td class="td-hide">col-04</td>
                    <td class="td-hide">col-05</td>
                    <td class="td-hide">col-06</td>
                    <td class="td-hide">col-07</td>
                    <td class="td-hide">col-08</td>
                    <td class="td-hide">col-09</td>
                    <td class="td-hide">col-10</td>
                    <td class="td-hide">col-11</td>
                    <td class="td-hide">col-12</td>
                    <td class="td-hide">col-13</td>
                    <td class="td-hide">col-14</td>
                    <td rowspan="5" colspan="9">
                        <svg id="barcode"></svg><br />
                        @if (Model.consignment.IsMps)
                        {
                            <span style="padding-left: 150px;font-size: 13px !important;"><b>1 / @Html.Raw(Model.consignment.BabyConnotesTotal)</b></span>
                        }
                        else
                        {
                            <span>&nbsp;</span>
                        }
                    </td>
                    <td class="td-hide">col-24</td>
                </tr>
                @*======== ROW 1 =======*@
                <tr>
                    <td class="td-hide">col-01</td>
                    <td class="td-hide">col-02</td>
                    <td class="td-hide">col-03</td>
                    <td class="td-hide">col-04</td>
                    <td class="td-hide">col-05</td>
                    <td class="td-hide">col-06</td>
                    <td colspan="4" style="padding-top: 6px !important;padding-left: 14px !important;"><span class="text-uppercase" style="font-size: 8pt;"><b>@Html.Raw(Model.referenceNo)</b></span></td>
                    <td class="td-hide">col-11</td>
                    <td class="td-hide">col-12</td>
                    <td class="td-hide">col-13</td>
                    <td class="td-hide">col-14</td>
                    <td class="td-hide">col-24</td>

                </tr>
                @*======== ROW 2 =======*@
                <tr>
                    <td class="td-hide">col-01</td>
                    <td class="td-hide">col-02</td>
                    <td class="td-hide">col-03</td>
                    @if (Model.designation == "Contract customer")
            {
                        <td colspan="10" style="padding-left: 16px !important; font-size: 10pt !important;"><span><b>Ref No. @Html.Raw(Model.consignment.Produk.Est.ShipperReferenceNo)</b></span><span style="padding-right:34px !important;" class="pull-right"><b>Account No. @Html.Raw(Model.accountNo)</b></span></td>
                    }
                    else
                    {
                        <td colspan="10"><span>&nbsp;</span></td>
                    }
                    <td class="td-hide">col-14</td>
                    <td class="td-hide">col-24</td>

                </tr>
                @*======== ROW 3 =======*@
                <tr>
                    <td class="td-hide">col-01</td>
                    <td rowspan="7" colspan="12">
                        <address style="padding-left: 33px;font-size: 10pt;line-height: 1.4;margin-top: -6px;margin-bottom: 0px !important;">
                            <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Pemberi.ContactPerson.Substring(0, Model.consignment.Pemberi.ContactPerson.Length > 36 ? 36 : Model.consignment.Pemberi.ContactPerson.Length))</b></span><br />
                            <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Pemberi.Address.Address1.Substring(0, Model.consignment.Pemberi.Address.Address1.Length > 36 ? 36 : Model.consignment.Pemberi.Address.Address1.Length))</b></span><br />
                            <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Pemberi.Address.Address2.Substring(0, Model.consignment.Pemberi.Address.Address2.Length > 36 ? 36 : Model.consignment.Pemberi.Address.Address2.Length))</b></span><br />
                            @if (!String.IsNullOrEmpty(Model.consignment.Pemberi.Address.Address3))
                            {
                                <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Pemberi.Address.Address3.Substring(0, Model.consignment.Pemberi.Address.Address3.Length > 36 ? 36 : Model.consignment.Pemberi.Address.Address3.Length))</b></span><br />

                            }
                            else
                            {
                                <span class="text-uppercase">&nbsp;</span><br />
                            }
                            @if (!String.IsNullOrEmpty(Model.consignment.Pemberi.Address.Address4))
                            {
                                <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Pemberi.Address.Address4.Substring(0, Model.consignment.Pemberi.Address.Address4.Length > 36 ? 36 : Model.consignment.Pemberi.Address.Address4.Length))</b></span><br />
                            }
                            else
                            {
                                <span class="text-uppercase">&nbsp;</span><br />
                            }
                            <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Pemberi.Address.City)</b></span>
                            <br />
                            <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Pemberi.Address.State)</b></span>
                            <br />
                            <span class="loose text-uppercase"><b>@Html.Raw(Model.consignment.Pemberi.Address.Postcode)</b></span>
                            <br />
                            <span style="padding-left: 55px;line-height: 2;"><b><span class="text-uppercase">@Html.Raw(Model.consignment.Pemberi.ContactInformation.ContactNumber) / </span><i>@Html.Raw(Model.consignment.Pemberi.ContactInformation.Email)</i></b></span>
                        </address>
                    </td>
                    <td class="td-hide">col-14</td>
                    <td class="td-hide">col-24</td>
                </tr>
                @*======== ROW 4 =======*@
                <tr>
                    <td class="td-hide">col-01</td>
                    <td class="td-hide">col-14</td>
                    <td class="td-hide">col-24</td>

                </tr>
                @*======== ROW 5 =======*@
                <tr>
                    <td class="td-hide">col-01</td>
                    <td class="td-hide">col-14</td>
                    <td class="td-hide">col-15</td>
                    <td class="td-hide">col-16</td>
                    <td class="td-hide">col-17</td>
                    <td class="td-hide">col-18</td>
                    <td class="td-hide">col-19</td>
                    <td class="td-hide">col-20</td>
                    <td class="td-hide">col-21</td>
                    <td class="td-hide">col-22</td>
                    <td class="td-hide">col-23</td>
                    <td class="td-hide">col-24</td>
                </tr>

                @*======== ROW 6 =======*@
                <tr>
                    <td class="td-hide">col-01</td>
                    <td rowspan="3" colspan="5" style="padding-bottom: 13px !important;">
                        <address style="padding-left: 22px;font-size: 11px;line-height: 1.6;margin-top: 6px;margin-bottom: 0px !important;">
                            <span class="text-uppercase"><b>@Html.Raw(Model.pickupDate.ToShortDateString())</b></span><br />
                            <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Produk.ItemCategory)</b></span><br />
                            <span class="text-uppercase" style="padding-left: 10px;"><b>@Html.Raw(Model.consignment.Produk.Weight) kg</b></span><br />
                        </address>
                    </td>
                    <td rowspan="5" colspan="5">
                        <address style="font-size: 11px;line-height: 2;margin-top: 6px;margin-bottom: 0px !important;">
                            @if (Model.consignment.Produk.ValueAddedDeclaredValue != 0)
                            {
                                <span class="text-uppercase" style="padding-left: 51px;"><b>YES</b></span><span class="text-uppercase" style="padding-left: 72px;"><b><span>RM</span>@Html.Raw(Model.consignment.Produk.ValueAddedValue)</b></span><br />
                                <span class="text-uppercase" style="padding-left: 145px;"><b><span>RM</span>@Html.Raw(Model.consignment.Produk.ValueAddedDeclaredValue)</b></span><br />
                                <span class="text-uppercase" style="padding-left: 69px;"><b>@Html.Raw(Model.consignment.Produk.ValueAddedCode)</b></span><br />
                            }
                            else
                            {
                                <span class="text-uppercase" style="padding-left: 53px;"><b>NIL</b></span><br />
                                <span class="text-uppercase" style="padding-left: 145px;">&nbsp;</span><br />
                                <span class="text-uppercase" style="padding-left: 69px;">&nbsp;</span><br />
                            }
                        </address>
                    </td>
                    <td class="td-hide">col-24</td>
                </tr>
                @*======== ROW 7 =======*@
                <tr>
                    <td class="td-hide">col-01</td>

                    <td class="td-hide">col-24</td>
                </tr>
                @*======== ROW 8 =======*@
                <tr>
                    <td class="td-hide">col-01</td>
                    <td class="td-hide">col-24</td>
                </tr>
                @*======== ROW 9 =======*@
                <tr>
                    <td class="td-hide">col-01</td>
                    <td class="td-hide">col-14</td>
                    <td class="td-hide">col-15</td>
                    <td class="td-hide">col-16</td>
                    <td class="td-hide">col-17</td>
                    <td class="td-hide">col-18</td>
                    <td class="td-hide">col-24</td>
                </tr>
                @*======== ROW 10 ======*@
                <tr>
                    <td class="td-hide">col-01</td>
                    <td class="td-hide">col-02</td>
                    <td class="td-hide">col-03</td>
                    @if (Model.designation == "Contract customer")
            {
                        <td colspan="10" style="padding-left: 30px !important; font-size: 10pt !important;"><span><b>Ref No. @Html.Raw(Model.consignment.Produk.Est.ReceiverReferenceNo)</b></span></td>
                    }
                    else
                    {
                        <td colspan="10"><span>&nbsp;</span></td>
                    }
                    <td class="td-hide">col-14</td>
                    <td class="td-hide">col-15</td>
                    <td class="td-hide">col-16</td>
                    <td class="td-hide">col-17</td>
                    <td class="td-hide">col-18</td>
                    <td class="td-hide">col-24</td>
                </tr>
                @*======== ROW 11 ======*@
                <tr>
                    <td class="td-hide">col-01</td>
                    <td rowspan="9" colspan="12">
                        <address style="padding-left: 33px;font-size: 10pt;line-height: 1.4;margin-bottom: 0px !important;">
                            <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Penerima.ContactPerson)</b></span><br />
                            <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Penerima.Address.Address1.Substring(0, Model.consignment.Penerima.Address.Address1.Length > 36 ? 36 : Model.consignment.Penerima.Address.Address1.Length))</b></span><br />
                            <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Penerima.Address.Address2.Substring(0, Model.consignment.Penerima.Address.Address2.Length > 36 ? 36 : Model.consignment.Penerima.Address.Address2.Length))</b></span><br />
                            @if (!String.IsNullOrEmpty(Model.consignment.Penerima.Address.Address3))
                            {
                                <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Penerima.Address.Address3.Substring(0, Model.consignment.Penerima.Address.Address3.Length > 36 ? 36 : Model.consignment.Penerima.Address.Address3.Length))</b></span><br />

                            }
                            else
                            {
                                <span class="text-uppercase">&nbsp;</span><br />
                            }
                            @if (!String.IsNullOrEmpty(Model.consignment.Penerima.Address.Address4))
                            {
                                <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Penerima.Address.Address4.Substring(0, Model.consignment.Penerima.Address.Address4.Length > 36 ? 36 : Model.consignment.Penerima.Address.Address4.Length))</b></span><br />
                            }
                            else
                            {
                                <span class="text-uppercase">&nbsp;</span><br />
                            }
                            <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Penerima.Address.City)</b></span><br />
                            <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Penerima.Address.State)</b></span><br />
                            <span style="padding-left: 55px;line-height: 1.7;"><b><span class="text-uppercase">@Html.Raw(Model.consignment.Penerima.ContactInformation.ContactNumber) / </span><i>@Html.Raw(Model.consignment.Penerima.ContactInformation.Email)</i></b></span><br />
                            <span class="loose2 text-uppercase" style="line-height: 2;"><b>@Html.Raw(Model.consignment.Penerima.Address.Postcode)</b></span>
                        </address>
                    </td>
                    <td rowspan="2" colspan="5">
                        <address style="font-size: 9pt;margin-top: -3px;margin-bottom: 0px !important;">
                            <span class="text-uppercase"><b>1</b></span>
                            <span class="text-uppercase" style="padding-left: 13px;"><b>@Html.Raw(Model.consignment.Produk.Description.Substring(0, Model.consignment.Produk.Description.Length > 14 ? 14 : Model.consignment.Produk.Description.Length))</b></span>
                            <span class="text-uppercase pull-right" style="padding-right: 13px;"><b><span>RM</span>@Html.Raw(Model.consignment.Produk.ValueAddedDeclaredValue)</b></span>
                        </address>
                    </td>
                    <td class="td-hide">col-19</td>
                    <td class="td-hide">col-20</td>
                    <td class="td-hide">col-21</td>
                    <td class="td-hide">col-22</td>
                    <td class="td-hide">col-23</td>
                    <td class="td-hide">col-24</td>
                </tr>
                @*======== ROW 12 ======*@
                <tr>
                    <td class="td-hide">col-01</td>
                    <td class="td-hide">col-19</td>
                    <td class="td-hide">col-20</td>
                    <td class="td-hide">col-21</td>
                    <td class="td-hide">col-22</td>
                    <td class="td-hide">col-23</td>
                    <td class="td-hide">col-24</td>
                </tr>
                @*======== ROW 13 ======*@
                <tr>
                    <td class="td-hide">col-01</td>
                    <td rowspan="7" colspan="5" style="padding-left: 20px !important;"><div id="bcTarget2"></div></td>
                    <td class="td-hide">col-19</td>
                    <td class="td-hide">col-20</td>
                    <td class="td-hide">col-21</td>
                    <td class="td-hide">col-22</td>
                    <td class="td-hide">col-23</td>
                    <td class="td-hide">col-24</td>
                </tr>
                @*======== ROW 14 ======*@
                <tr>
                    <td class="td-hide">col-01</td>
                    <td class="td-hide">col-19</td>
                    <td class="td-hide">col-20</td>
                    <td class="td-hide">col-21</td>
                    <td class="td-hide">col-22</td>
                    <td class="td-hide">col-23</td>
                    <td class="td-hide">col-24</td>
                </tr>
                @*======== ROW 15 ======*@
                <tr>
                    <td class="td-hide">col-01</td>
                    <td class="td-hide">col-19</td>
                    <td class="td-hide">col-20</td>
                    <td class="td-hide">col-21</td>
                    <td class="td-hide">col-22</td>
                    <td class="td-hide">col-23</td>
                    <td class="td-hide">col-24</td>
                </tr>
                @*======== ROW 16 ======*@
                <tr>
                    <td class="td-hide">col-01</td>
                    <td class="td-hide">col-19</td>
                    <td class="td-hide">col-20</td>
                    <td class="td-hide">col-21</td>
                    <td class="td-hide">col-22</td>
                    <td class="td-hide">col-23</td>
                    <td class="td-hide">col-24</td>
                </tr>
                @*======== ROW 17 ======*@
                <tr>
                    <td class="td-hide">col-01</td>
                    <td class="td-hide">col-19</td>
                    <td class="td-hide">col-20</td>
                    <td class="td-hide">col-21</td>
                    <td class="td-hide">col-22</td>
                    <td class="td-hide">col-23</td>
                    <td class="td-hide">col-24</td>
                </tr>
                @*======== ROW 18 ======*@
                <tr>
                    <td class="td-hide">col-01</td>
                    <td class="td-hide">col-19</td>
                    <td class="td-hide">col-20</td>
                    <td class="td-hide">col-21</td>
                    <td class="td-hide">col-22</td>
                    <td class="td-hide">col-23</td>
                    <td class="td-hide">col-24</td>
                </tr>
                @*======== ROW 19 ======*@
                <tr>
                    <td class="td-hide">col-01</td>
                    <td class="td-hide">col-19</td>
                    <td class="td-hide">col-20</td>
                    <td class="td-hide">col-21</td>
                    <td class="td-hide">col-22</td>
                    <td class="td-hide">col-23</td>
                    <td class="td-hide">col-24</td>
                </tr>
                @*======== ROW 20 ======*@
                <tr>
                    <td class="td-hide">col-01</td>
                    <td class="td-hide">col-02</td>
                    <td class="td-hide">col-03</td>
                    <td class="td-hide">col-04</td>
                    <td class="td-hide">col-05</td>
                    <td class="td-hide">col-06</td>
                    <td class="td-hide">col-07</td>
                    <td class="td-hide">col-08</td>
                    <td class="td-hide">col-09</td>
                    <td class="td-hide">col-10</td>
                    <td class="td-hide">col-11</td>
                    <td class="td-hide">col-12</td>
                    <td class="td-hide">col-13</td>
                    <td class="td-hide">col-14</td>
                    <td class="td-hide">col-15</td>
                    <td class="td-hide">col-16</td>
                    <td class="td-hide">col-17</td>
                    <td class="td-hide">col-18</td>
                    <td class="td-hide">col-19</td>
                    <td class="td-hide">col-20</td>
                    <td class="td-hide">col-21</td>
                    <td class="td-hide">col-22</td>
                    <td class="td-hide">col-23</td>
                    <td class="td-hide">col-24</td>
                </tr>
            </table>
        </div>
        <br /><br /><br /><br />
        @if (Model.consignment.IsMps)
        {
            var countBaby = 2;
            foreach (var babyConnote in Model.consignment.BabyConnotes)
            {
                <!-- Connote Sheet 1 Baby -->
                <div class="container">
                    <table class="table connote-sheet-3">
                        @*======== ROW 0 ======*@
                        <tr>
                            <td class="td-hide">col-01</td>
                            <td class="td-hide">col-02</td>
                            <td class="td-hide">col-03</td>
                            <td class="td-hide">col-04</td>
                            <td class="td-hide">col-05</td>
                            <td class="td-hide">col-06</td>
                            <td class="td-hide">col-07</td>
                            <td class="td-hide">col-08</td>
                            <td class="td-hide">col-09</td>
                            <td class="td-hide">col-10</td>
                            <td class="td-hide">col-11</td>
                            <td class="td-hide">col-12</td>
                            <td class="td-hide">col-13</td>
                            <td class="td-hide">col-14</td>
                            <td rowspan="5" colspan="9">
                                <svg id="barcode-@Html.Raw(countBaby)"></svg><br />
                                @if (Model.consignment.IsMps)
                                {
                                    <span style="padding-left: 70px;font-size: 13px !important;"><b>Master : @Html.Raw(Model.consignment.ConNote)  @Html.Raw(countBaby) / @Html.Raw(Model.consignment.BabyConnotesTotal)</b></span>
                                }
                                else
                                {
                                    <span>&nbsp;</span>
                                }
                            </td>
                            <td class="td-hide">col-24</td>
                        </tr>
                        @*======== ROW 1 =======*@
                        <tr>
                            <td class="td-hide">col-01</td>
                            <td class="td-hide">col-02</td>
                            <td class="td-hide">col-03</td>
                            <td class="td-hide">col-04</td>
                            <td class="td-hide">col-05</td>
                            <td class="td-hide">col-06</td>
                            <td colspan="4" style="padding-top: 6px !important;padding-left: 14px !important;"><span class="text-uppercase" style="font-size: 8pt;"><b>@Html.Raw(Model.referenceNo)</b></span></td>
                            <td class="td-hide">col-11</td>
                            <td class="td-hide">col-12</td>
                            <td class="td-hide">col-13</td>
                            <td class="td-hide">col-14</td>
                            <td class="td-hide">col-24</td>

                        </tr>
                        @*======== ROW 2 =======*@
                        <tr>
                            <td class="td-hide">col-01</td>
                            <td class="td-hide">col-02</td>
                            <td class="td-hide">col-03</td>
                            @if (Model.designation == "Contract customer")
                            {
                                <td colspan="10" style="padding-left: 16px !important; font-size: 10pt !important;"><span><b>Ref No. @Html.Raw(Model.consignment.Produk.Est.ShipperReferenceNo)</b></span><span style="padding-right:34px !important;" class="pull-right"><b>Account No. @Html.Raw(Model.accountNo)</b></span></td>
                            }
                            else
                            {
                                <td colspan="10"><span>&nbsp;</span></td>
                            }
                            <td class="td-hide">col-14</td>
                            <td class="td-hide">col-24</td>

                        </tr>
                        @*======== ROW 3 =======*@
                        <tr>
                            <td class="td-hide">col-01</td>
                            <td rowspan="7" colspan="12">
                                <address style="padding-left: 33px;font-size: 10pt;line-height: 1.4;margin-top: -6px;margin-bottom: 0px !important;">
                                    <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Pemberi.ContactPerson.Substring(0, Model.consignment.Pemberi.ContactPerson.Length > 36 ? 36 : Model.consignment.Pemberi.ContactPerson.Length))</b></span><br />
                                    <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Pemberi.Address.Address1.Substring(0, Model.consignment.Pemberi.Address.Address1.Length > 36 ? 36 : Model.consignment.Pemberi.Address.Address1.Length))</b></span><br />
                                    <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Pemberi.Address.Address2.Substring(0, Model.consignment.Pemberi.Address.Address2.Length > 36 ? 36 : Model.consignment.Pemberi.Address.Address2.Length))</b></span><br />
                                    @if (!String.IsNullOrEmpty(Model.consignment.Pemberi.Address.Address3))
                                    {
                                        <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Pemberi.Address.Address3.Substring(0, Model.consignment.Pemberi.Address.Address3.Length > 36 ? 36 : Model.consignment.Pemberi.Address.Address3.Length))</b></span><br />

                                    }
                                    else
                                    {
                                        <span class="text-uppercase">&nbsp;</span><br />
                                    }
                                    @if (!String.IsNullOrEmpty(Model.consignment.Pemberi.Address.Address4))
                                    {
                                        <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Pemberi.Address.Address4.Substring(0, Model.consignment.Pemberi.Address.Address4.Length > 36 ? 36 : Model.consignment.Pemberi.Address.Address4.Length))</b></span><br />
                                    }
                                    else
                                    {
                                        <span class="text-uppercase">&nbsp;</span><br />
                                    }
                                    <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Pemberi.Address.City)</b></span>
                                    <br />
                                    <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Pemberi.Address.State)</b></span>
                                    <br />
                                    <span class="loose text-uppercase"><b>@Html.Raw(Model.consignment.Pemberi.Address.Postcode)</b></span>
                                    <br />
                                    <span style="padding-left: 55px;line-height: 2;"><b><span class="text-uppercase">@Html.Raw(Model.consignment.Pemberi.ContactInformation.ContactNumber) / </span><i>@Html.Raw(Model.consignment.Pemberi.ContactInformation.Email)</i></b></span>
                                </address>
                            </td>
                            <td class="td-hide">col-14</td>
                            <td class="td-hide">col-24</td>
                        </tr>
                        @*======== ROW 4 =======*@
                        <tr>
                            <td class="td-hide">col-01</td>
                            <td class="td-hide">col-14</td>
                            <td class="td-hide">col-24</td>

                        </tr>
                        @*======== ROW 5 =======*@
                        <tr>
                            <td class="td-hide">col-01</td>
                            <td class="td-hide">col-14</td>
                            <td class="td-hide">col-15</td>
                            <td class="td-hide">col-16</td>
                            <td class="td-hide">col-17</td>
                            <td class="td-hide">col-18</td>
                            <td class="td-hide">col-19</td>
                            <td class="td-hide">col-20</td>
                            <td class="td-hide">col-21</td>
                            <td class="td-hide">col-22</td>
                            <td class="td-hide">col-23</td>
                            <td class="td-hide">col-24</td>
                        </tr>

                        @*======== ROW 6 =======*@
                        <tr>
                            <td class="td-hide">col-01</td>
                            <td rowspan="3" colspan="5" style="padding-bottom: 13px !important;">
                                <address style="padding-left: 22px;font-size: 11px;line-height: 1.6;margin-top: 6px;margin-bottom: 0px !important;">
                                    <span class="text-uppercase"><b>@Html.Raw(Model.pickupDate.ToShortDateString())</b></span><br />
                                    <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Produk.ItemCategory)</b></span><br />
                                    <span class="text-uppercase" style="padding-left: 10px;"><b>@Html.Raw(Model.consignment.Produk.Weight) kg</b></span><br />
                                </address>
                            </td>
                            <td rowspan="5" colspan="5">
                                <address style="font-size: 11px;line-height: 2;margin-top: 6px;margin-bottom: 0px !important;">
                                    @if (Model.consignment.Produk.ValueAddedDeclaredValue != 0)
                                    {
                                        <span class="text-uppercase" style="padding-left: 51px;"><b>YES</b></span><span class="text-uppercase" style="padding-left: 72px;"><b><span>RM</span>@Html.Raw(Model.consignment.Produk.ValueAddedValue)</b></span><br />
                                        <span class="text-uppercase" style="padding-left: 145px;"><b><span>RM</span>@Html.Raw(Model.consignment.Produk.ValueAddedDeclaredValue)</b></span><br />
                                        <span class="text-uppercase" style="padding-left: 69px;"><b>@Html.Raw(Model.consignment.Produk.ValueAddedCode)</b></span><br />
                                    }
                                    else
                                    {
                                        <span class="text-uppercase" style="padding-left: 53px;"><b>NIL</b></span><br />
                                        <span class="text-uppercase" style="padding-left: 145px;">&nbsp;</span><br />
                                        <span class="text-uppercase" style="padding-left: 69px;">&nbsp;</span><br />
                                    }
                                </address>
                            </td>
                            <td class="td-hide">col-24</td>
                        </tr>
                        @*======== ROW 7 =======*@
                        <tr>
                            <td class="td-hide">col-01</td>

                            <td class="td-hide">col-24</td>
                        </tr>
                        @*======== ROW 8 =======*@
                        <tr>
                            <td class="td-hide">col-01</td>
                            <td class="td-hide">col-24</td>
                        </tr>
                        @*======== ROW 9 =======*@
                        <tr>
                            <td class="td-hide">col-01</td>
                            <td class="td-hide">col-14</td>
                            <td class="td-hide">col-15</td>
                            <td class="td-hide">col-16</td>
                            <td class="td-hide">col-17</td>
                            <td class="td-hide">col-18</td>
                            <td class="td-hide">col-24</td>
                        </tr>
                        @*======== ROW 10 ======*@
                        <tr>
                            <td class="td-hide">col-01</td>
                            <td class="td-hide">col-02</td>
                            <td class="td-hide">col-03</td>
                            @if (Model.designation == "Contract customer")
                    {
                                <td colspan="10" style="padding-left: 30px !important; font-size: 10pt !important;"><span><b>Ref No. @Html.Raw(Model.consignment.Produk.Est.ReceiverReferenceNo)</b></span></td>
                            }
                            else
                            {
                                <td colspan="10"><span>&nbsp;</span></td>
                            }
                            <td class="td-hide">col-14</td>
                            <td class="td-hide">col-15</td>
                            <td class="td-hide">col-16</td>
                            <td class="td-hide">col-17</td>
                            <td class="td-hide">col-18</td>
                            <td class="td-hide">col-24</td>
                        </tr>
                        @*======== ROW 11 ======*@
                        <tr>
                            <td class="td-hide">col-01</td>
                            <td rowspan="9" colspan="12">
                                <address style="padding-left: 33px;font-size: 10pt;line-height: 1.4;margin-bottom: 0px !important;">
                                    <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Penerima.ContactPerson)</b></span><br />
                                    <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Penerima.Address.Address1.Substring(0, Model.consignment.Penerima.Address.Address1.Length > 36 ? 36 : Model.consignment.Penerima.Address.Address1.Length))</b></span><br />
                                    <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Penerima.Address.Address2.Substring(0, Model.consignment.Penerima.Address.Address2.Length > 36 ? 36 : Model.consignment.Penerima.Address.Address2.Length))</b></span><br />
                                    @if (!String.IsNullOrEmpty(Model.consignment.Penerima.Address.Address3))
                                    {
                                        <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Penerima.Address.Address3.Substring(0, Model.consignment.Penerima.Address.Address3.Length > 36 ? 36 : Model.consignment.Penerima.Address.Address3.Length))</b></span><br />

                                    }
                                    else
                                    {
                                        <span class="text-uppercase">&nbsp;</span><br />
                                    }
                                    @if (!String.IsNullOrEmpty(Model.consignment.Penerima.Address.Address4))
                                    {
                                        <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Penerima.Address.Address4.Substring(0, Model.consignment.Penerima.Address.Address4.Length > 36 ? 36 : Model.consignment.Penerima.Address.Address4.Length))</b></span><br />
                                    }
                                    else
                                    {
                                        <span class="text-uppercase">&nbsp;</span><br />
                                    }
                                    <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Penerima.Address.City)</b></span><br />
                                    <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Penerima.Address.State)</b></span><br />
                                    <span style="padding-left: 55px;line-height: 1.7;"><b><span class="text-uppercase">@Html.Raw(Model.consignment.Penerima.ContactInformation.ContactNumber) / </span><i>@Html.Raw(Model.consignment.Penerima.ContactInformation.Email)</i></b></span><br />
                                    <span class="loose2 text-uppercase" style="line-height: 2;"><b>@Html.Raw(Model.consignment.Penerima.Address.Postcode)</b></span>
                                </address>
                            </td>
                            <td rowspan="2" colspan="5">
                                <address style="font-size: 9pt;margin-top: -3px;margin-bottom: 0px !important;">
                                    <span class="text-uppercase"><b>1</b></span>
                                    <span class="text-uppercase" style="padding-left: 13px;"><b>@Html.Raw(Model.consignment.Produk.Description.Substring(0, Model.consignment.Produk.Description.Length > 14 ? 14 : Model.consignment.Produk.Description.Length))</b></span>
                                    <span class="text-uppercase pull-right" style="padding-right: 13px;"><b><span>RM</span>@Html.Raw(Model.consignment.Produk.ValueAddedDeclaredValue)</b></span>
                                </address>
                            </td>
                            <td class="td-hide">col-19</td>
                            <td class="td-hide">col-20</td>
                            <td class="td-hide">col-21</td>
                            <td class="td-hide">col-22</td>
                            <td class="td-hide">col-23</td>
                            <td class="td-hide">col-24</td>
                        </tr>
                        @*======== ROW 12 ======*@
                        <tr>
                            <td class="td-hide">col-01</td>
                            <td class="td-hide">col-19</td>
                            <td class="td-hide">col-20</td>
                            <td class="td-hide">col-21</td>
                            <td class="td-hide">col-22</td>
                            <td class="td-hide">col-23</td>
                            <td class="td-hide">col-24</td>
                        </tr>
                        @*======== ROW 13 ======*@
                        <tr>
                            <td class="td-hide">col-01</td>
                            <td rowspan="7" colspan="5" style="padding-left: 20px !important;"><div id="bcTarget1-baby-@Html.Raw(countBaby)"></div></td>
                            <td class="td-hide">col-19</td>
                            <td class="td-hide">col-20</td>
                            <td class="td-hide">col-21</td>
                            <td class="td-hide">col-22</td>
                            <td class="td-hide">col-23</td>
                            <td class="td-hide">col-24</td>
                        </tr>
                        @*======== ROW 14 ======*@
                        <tr>
                            <td class="td-hide">col-01</td>
                            <td class="td-hide">col-19</td>
                            <td class="td-hide">col-20</td>
                            <td class="td-hide">col-21</td>
                            <td class="td-hide">col-22</td>
                            <td class="td-hide">col-23</td>
                            <td class="td-hide">col-24</td>
                        </tr>
                        @*======== ROW 15 ======*@
                        <tr>
                            <td class="td-hide">col-01</td>
                            <td class="td-hide">col-19</td>
                            <td class="td-hide">col-20</td>
                            <td class="td-hide">col-21</td>
                            <td class="td-hide">col-22</td>
                            <td class="td-hide">col-23</td>
                            <td class="td-hide">col-24</td>
                        </tr>
                        @*======== ROW 16 ======*@
                        <tr>
                            <td class="td-hide">col-01</td>
                            <td class="td-hide">col-19</td>
                            <td class="td-hide">col-20</td>
                            <td class="td-hide">col-21</td>
                            <td class="td-hide">col-22</td>
                            <td class="td-hide">col-23</td>
                            <td class="td-hide">col-24</td>
                        </tr>
                        @*======== ROW 17 ======*@
                        <tr>
                            <td class="td-hide">col-01</td>
                            <td class="td-hide">col-19</td>
                            <td class="td-hide">col-20</td>
                            <td class="td-hide">col-21</td>
                            <td class="td-hide">col-22</td>
                            <td class="td-hide">col-23</td>
                            <td class="td-hide">col-24</td>
                        </tr>
                        @*======== ROW 18 ======*@
                        <tr>
                            <td class="td-hide">col-01</td>
                            <td class="td-hide">col-19</td>
                            <td class="td-hide">col-20</td>
                            <td class="td-hide">col-21</td>
                            <td class="td-hide">col-22</td>
                            <td class="td-hide">col-23</td>
                            <td class="td-hide">col-24</td>
                        </tr>
                        @*======== ROW 19 ======*@
                        <tr>
                            <td class="td-hide">col-01</td>
                            <td class="td-hide">col-19</td>
                            <td class="td-hide">col-20</td>
                            <td class="td-hide">col-21</td>
                            <td class="td-hide">col-22</td>
                            <td class="td-hide">col-23</td>
                            <td class="td-hide">col-24</td>
                        </tr>
                        @*======== ROW 20 ======*@
                        <tr>
                            <td class="td-hide">col-01</td>
                            <td class="td-hide">col-02</td>
                            <td class="td-hide">col-03</td>
                            <td class="td-hide">col-04</td>
                            <td class="td-hide">col-05</td>
                            <td class="td-hide">col-06</td>
                            <td class="td-hide">col-07</td>
                            <td class="td-hide">col-08</td>
                            <td class="td-hide">col-09</td>
                            <td class="td-hide">col-10</td>
                            <td class="td-hide">col-11</td>
                            <td class="td-hide">col-12</td>
                            <td class="td-hide">col-13</td>
                            <td class="td-hide">col-14</td>
                            <td class="td-hide">col-15</td>
                            <td class="td-hide">col-16</td>
                            <td class="td-hide">col-17</td>
                            <td class="td-hide">col-18</td>
                            <td class="td-hide">col-19</td>
                            <td class="td-hide">col-20</td>
                            <td class="td-hide">col-21</td>
                            <td class="td-hide">col-22</td>
                            <td class="td-hide">col-23</td>
                            <td class="td-hide">col-24</td>
                        </tr>
                    </table>
                </div>
                <hr /><br />
                <!-- Connote Sheet 2 Baby -->
                <div class="container">
                    <table class="table connote-sheet-4">
                        @*======== ROW 0 ======*@
                        <tr>
                            <td class="td-hide">col-01</td>
                            <td class="td-hide">col-02</td>
                            <td class="td-hide">col-03</td>
                            <td class="td-hide">col-04</td>
                            <td class="td-hide">col-05</td>
                            <td class="td-hide">col-06</td>
                            <td class="td-hide">col-07</td>
                            <td class="td-hide">col-08</td>
                            <td class="td-hide">col-09</td>
                            <td class="td-hide">col-10</td>
                            <td class="td-hide">col-11</td>
                            <td class="td-hide">col-12</td>
                            <td class="td-hide">col-13</td>
                            <td class="td-hide">col-14</td>
                            <td rowspan="5" colspan="9">
                                <svg id="barcode-@Html.Raw(countBaby)"></svg><br />
                                @if (Model.consignment.IsMps)
                                {
                                    <span style="padding-left: 70px;font-size: 13px !important;"><b>Master : @Html.Raw(Model.consignment.ConNote)  @Html.Raw(countBaby) / @Html.Raw(Model.consignment.BabyConnotesTotal)</b></span>
                                }
                                else
                                {
                                    <span>&nbsp;</span>
                                }
                            </td>
                            <td class="td-hide">col-24</td>
                        </tr>
                        @*======== ROW 1 =======*@
                        <tr>
                            <td class="td-hide">col-01</td>
                            <td class="td-hide">col-02</td>
                            <td class="td-hide">col-03</td>
                            <td class="td-hide">col-04</td>
                            <td class="td-hide">col-05</td>
                            <td class="td-hide">col-06</td>
                            <td colspan="4" style="padding-top: 6px !important;padding-left: 14px !important;"><span class="text-uppercase" style="font-size: 8pt;"><b>@Html.Raw(Model.referenceNo)</b></span></td>
                            <td class="td-hide">col-11</td>
                            <td class="td-hide">col-12</td>
                            <td class="td-hide">col-13</td>
                            <td class="td-hide">col-14</td>
                            <td class="td-hide">col-24</td>

                        </tr>
                        @*======== ROW 2 =======*@
                        <tr>
                            <td class="td-hide">col-01</td>
                            <td class="td-hide">col-02</td>
                            <td class="td-hide">col-03</td>
                            @if (Model.designation == "Contract customer")
                    {
                                <td colspan="10" style="padding-left: 16px !important; font-size: 10pt !important;"><span><b>Ref No. @Html.Raw(Model.consignment.Produk.Est.ShipperReferenceNo)</b></span><span style="padding-right:34px !important;" class="pull-right"><b>Account No. @Html.Raw(Model.accountNo)</b></span></td>
                            }
                            else
                            {
                                <td colspan="10"><span>&nbsp;</span></td>
                            }
                            <td class="td-hide">col-14</td>
                            <td class="td-hide">col-24</td>

                        </tr>
                        @*======== ROW 3 =======*@
                        <tr>
                            <td class="td-hide">col-01</td>
                            <td rowspan="7" colspan="12">
                                <address style="padding-left: 33px;font-size: 10pt;line-height: 1.4;margin-top: -6px;margin-bottom: 0px !important;">
                                    <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Pemberi.ContactPerson.Substring(0, Model.consignment.Pemberi.ContactPerson.Length > 36 ? 36 : Model.consignment.Pemberi.ContactPerson.Length))</b></span><br />
                                    <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Pemberi.Address.Address1.Substring(0, Model.consignment.Pemberi.Address.Address1.Length > 36 ? 36 : Model.consignment.Pemberi.Address.Address1.Length))</b></span><br />
                                    <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Pemberi.Address.Address2.Substring(0, Model.consignment.Pemberi.Address.Address2.Length > 36 ? 36 : Model.consignment.Pemberi.Address.Address2.Length))</b></span><br />
                                    @if (!String.IsNullOrEmpty(Model.consignment.Pemberi.Address.Address3))
                                    {
                                        <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Pemberi.Address.Address3.Substring(0, Model.consignment.Pemberi.Address.Address3.Length > 36 ? 36 : Model.consignment.Pemberi.Address.Address3.Length))</b></span><br />

                                    }
                                    else
                                    {
                                        <span class="text-uppercase">&nbsp;</span><br />
                                    }
                                    @if (!String.IsNullOrEmpty(Model.consignment.Pemberi.Address.Address4))
                                    {
                                        <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Pemberi.Address.Address4.Substring(0, Model.consignment.Pemberi.Address.Address4.Length > 36 ? 36 : Model.consignment.Pemberi.Address.Address4.Length))</b></span><br />
                                    }
                                    else
                                    {
                                        <span class="text-uppercase">&nbsp;</span><br />
                                    }
                                    <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Pemberi.Address.City)</b></span>
                                    <br />
                                    <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Pemberi.Address.State)</b></span>
                                    <br />
                                    <span class="loose text-uppercase"><b>@Html.Raw(Model.consignment.Pemberi.Address.Postcode)</b></span>
                                    <br />
                                    <span style="padding-left: 55px;line-height: 2;"><b><span class="text-uppercase">@Html.Raw(Model.consignment.Pemberi.ContactInformation.ContactNumber) / </span><i>@Html.Raw(Model.consignment.Pemberi.ContactInformation.Email)</i></b></span>
                                </address>
                            </td>
                            <td class="td-hide">col-14</td>
                            <td class="td-hide">col-24</td>
                        </tr>
                        @*======== ROW 4 =======*@
                        <tr>
                            <td class="td-hide">col-01</td>
                            <td class="td-hide">col-14</td>
                            <td class="td-hide">col-24</td>

                        </tr>
                        @*======== ROW 5 =======*@
                        <tr>
                            <td class="td-hide">col-01</td>
                            <td class="td-hide">col-14</td>
                            <td class="td-hide">col-15</td>
                            <td class="td-hide">col-16</td>
                            <td class="td-hide">col-17</td>
                            <td class="td-hide">col-18</td>
                            <td class="td-hide">col-19</td>
                            <td class="td-hide">col-20</td>
                            <td class="td-hide">col-21</td>
                            <td class="td-hide">col-22</td>
                            <td class="td-hide">col-23</td>
                            <td class="td-hide">col-24</td>
                        </tr>

                        @*======== ROW 6 =======*@
                        <tr>
                            <td class="td-hide">col-01</td>
                            <td rowspan="3" colspan="5" style="padding-bottom: 13px !important;">
                                <address style="padding-left: 22px;font-size: 11px;line-height: 1.6;margin-top: 6px;margin-bottom: 0px !important;">
                                    <span class="text-uppercase"><b>@Html.Raw(Model.pickupDate.ToShortDateString())</b></span><br />
                                    <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Produk.ItemCategory)</b></span><br />
                                    <span class="text-uppercase" style="padding-left: 10px;"><b>@Html.Raw(Model.consignment.Produk.Weight) kg</b></span><br />
                                </address>
                            </td>
                            <td rowspan="5" colspan="5">
                                <address style="font-size: 11px;line-height: 2;margin-top: 6px;margin-bottom: 0px !important;">
                                    @if (Model.consignment.Produk.ValueAddedDeclaredValue != 0)
                                    {
                                        <span class="text-uppercase" style="padding-left: 51px;"><b>YES</b></span><span class="text-uppercase" style="padding-left: 72px;"><b><span>RM</span>@Html.Raw(Model.consignment.Produk.ValueAddedValue)</b></span><br />
                                        <span class="text-uppercase" style="padding-left: 145px;"><b><span>RM</span>@Html.Raw(Model.consignment.Produk.ValueAddedDeclaredValue)</b></span><br />
                                        <span class="text-uppercase" style="padding-left: 69px;"><b>@Html.Raw(Model.consignment.Produk.ValueAddedCode)</b></span><br />
                                    }
                                    else
                                    {
                                        <span class="text-uppercase" style="padding-left: 53px;"><b>NIL</b></span><br />
                                        <span class="text-uppercase" style="padding-left: 145px;">&nbsp;</span><br />
                                        <span class="text-uppercase" style="padding-left: 69px;">&nbsp;</span><br />
                                    }
                                </address>
                            </td>
                            <td class="td-hide">col-24</td>
                        </tr>
                        @*======== ROW 7 =======*@
                        <tr>
                            <td class="td-hide">col-01</td>

                            <td class="td-hide">col-24</td>
                        </tr>
                        @*======== ROW 8 =======*@
                        <tr>
                            <td class="td-hide">col-01</td>
                            <td class="td-hide">col-24</td>
                        </tr>
                        @*======== ROW 9 =======*@
                        <tr>
                            <td class="td-hide">col-01</td>
                            <td class="td-hide">col-14</td>
                            <td class="td-hide">col-15</td>
                            <td class="td-hide">col-16</td>
                            <td class="td-hide">col-17</td>
                            <td class="td-hide">col-18</td>
                            <td class="td-hide">col-24</td>
                        </tr>
                        @*======== ROW 10 ======*@
                        <tr>
                            <td class="td-hide">col-01</td>
                            <td class="td-hide">col-02</td>
                            <td class="td-hide">col-03</td>
                            @if (Model.designation == "Contract customer")
                    {
                                <td colspan="10" style="padding-left: 30px !important; font-size: 10pt !important;"><span><b>Ref No. @Html.Raw(Model.consignment.Produk.Est.ReceiverReferenceNo)</b></span></td>
                            }
                            else
                            {
                                <td colspan="10"><span>&nbsp;</span></td>
                            }
                            <td class="td-hide">col-14</td>
                            <td class="td-hide">col-15</td>
                            <td class="td-hide">col-16</td>
                            <td class="td-hide">col-17</td>
                            <td class="td-hide">col-18</td>
                            <td class="td-hide">col-24</td>
                        </tr>
                        @*======== ROW 11 ======*@
                        <tr>
                            <td class="td-hide">col-01</td>
                            <td rowspan="9" colspan="12">
                                <address style="padding-left: 33px;font-size: 10pt;line-height: 1.4;margin-bottom: 0px !important;">
                                    <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Penerima.ContactPerson)</b></span><br />
                                    <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Penerima.Address.Address1.Substring(0, Model.consignment.Penerima.Address.Address1.Length > 36 ? 36 : Model.consignment.Penerima.Address.Address1.Length))</b></span><br />
                                    <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Penerima.Address.Address2.Substring(0, Model.consignment.Penerima.Address.Address2.Length > 36 ? 36 : Model.consignment.Penerima.Address.Address2.Length))</b></span><br />
                                    @if (!String.IsNullOrEmpty(Model.consignment.Penerima.Address.Address3))
                                    {
                                        <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Penerima.Address.Address3.Substring(0, Model.consignment.Penerima.Address.Address3.Length > 36 ? 36 : Model.consignment.Penerima.Address.Address3.Length))</b></span><br />

                                    }
                                    else
                                    {
                                        <span class="text-uppercase">&nbsp;</span><br />
                                    }
                                    @if (!String.IsNullOrEmpty(Model.consignment.Penerima.Address.Address4))
                                    {
                                        <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Penerima.Address.Address4.Substring(0, Model.consignment.Penerima.Address.Address4.Length > 36 ? 36 : Model.consignment.Penerima.Address.Address4.Length))</b></span><br />
                                    }
                                    else
                                    {
                                        <span class="text-uppercase">&nbsp;</span><br />
                                    }
                                    <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Penerima.Address.City)</b></span><br />
                                    <span class="text-uppercase"><b>@Html.Raw(Model.consignment.Penerima.Address.State)</b></span><br />
                                    <span style="padding-left: 55px;line-height: 1.7;"><b><span class="text-uppercase">@Html.Raw(Model.consignment.Penerima.ContactInformation.ContactNumber) / </span><i>@Html.Raw(Model.consignment.Penerima.ContactInformation.Email)</i></b></span><br />
                                    <span class="loose2 text-uppercase" style="line-height: 2;"><b>@Html.Raw(Model.consignment.Penerima.Address.Postcode)</b></span>
                                </address>
                            </td>
                            <td rowspan="2" colspan="5">
                                <address style="font-size: 9pt;margin-top: -3px;margin-bottom: 0px !important;">
                                    <span class="text-uppercase"><b>1</b></span>
                                    <span class="text-uppercase" style="padding-left: 13px;"><b>@Html.Raw(Model.consignment.Produk.Description.Substring(0, Model.consignment.Produk.Description.Length > 14 ? 14 : Model.consignment.Produk.Description.Length))</b></span>
                                    <span class="text-uppercase pull-right" style="padding-right: 13px;"><b><span>RM</span>@Html.Raw(Model.consignment.Produk.ValueAddedDeclaredValue)</b></span>
                                </address>
                            </td>
                            <td class="td-hide">col-19</td>
                            <td class="td-hide">col-20</td>
                            <td class="td-hide">col-21</td>
                            <td class="td-hide">col-22</td>
                            <td class="td-hide">col-23</td>
                            <td class="td-hide">col-24</td>
                        </tr>
                        @*======== ROW 12 ======*@
                        <tr>
                            <td class="td-hide">col-01</td>
                            <td class="td-hide">col-19</td>
                            <td class="td-hide">col-20</td>
                            <td class="td-hide">col-21</td>
                            <td class="td-hide">col-22</td>
                            <td class="td-hide">col-23</td>
                            <td class="td-hide">col-24</td>
                        </tr>
                        @*======== ROW 13 ======*@
                        <tr>
                            <td class="td-hide">col-01</td>
                            <td rowspan="7" colspan="5" style="padding-left: 20px !important;"><div id="bcTarget2-baby-@Html.Raw(countBaby)"></div></td>
                            <td class="td-hide">col-19</td>
                            <td class="td-hide">col-20</td>
                            <td class="td-hide">col-21</td>
                            <td class="td-hide">col-22</td>
                            <td class="td-hide">col-23</td>
                            <td class="td-hide">col-24</td>
                        </tr>
                        @*======== ROW 14 ======*@
                        <tr>
                            <td class="td-hide">col-01</td>
                            <td class="td-hide">col-19</td>
                            <td class="td-hide">col-20</td>
                            <td class="td-hide">col-21</td>
                            <td class="td-hide">col-22</td>
                            <td class="td-hide">col-23</td>
                            <td class="td-hide">col-24</td>
                        </tr>
                        @*======== ROW 15 ======*@
                        <tr>
                            <td class="td-hide">col-01</td>
                            <td class="td-hide">col-19</td>
                            <td class="td-hide">col-20</td>
                            <td class="td-hide">col-21</td>
                            <td class="td-hide">col-22</td>
                            <td class="td-hide">col-23</td>
                            <td class="td-hide">col-24</td>
                        </tr>
                        @*======== ROW 16 ======*@
                        <tr>
                            <td class="td-hide">col-01</td>
                            <td class="td-hide">col-19</td>
                            <td class="td-hide">col-20</td>
                            <td class="td-hide">col-21</td>
                            <td class="td-hide">col-22</td>
                            <td class="td-hide">col-23</td>
                            <td class="td-hide">col-24</td>
                        </tr>
                        @*======== ROW 17 ======*@
                        <tr>
                            <td class="td-hide">col-01</td>
                            <td class="td-hide">col-19</td>
                            <td class="td-hide">col-20</td>
                            <td class="td-hide">col-21</td>
                            <td class="td-hide">col-22</td>
                            <td class="td-hide">col-23</td>
                            <td class="td-hide">col-24</td>
                        </tr>
                        @*======== ROW 18 ======*@
                        <tr>
                            <td class="td-hide">col-01</td>
                            <td class="td-hide">col-19</td>
                            <td class="td-hide">col-20</td>
                            <td class="td-hide">col-21</td>
                            <td class="td-hide">col-22</td>
                            <td class="td-hide">col-23</td>
                            <td class="td-hide">col-24</td>
                        </tr>
                        @*======== ROW 19 ======*@
                        <tr>
                            <td class="td-hide">col-01</td>
                            <td class="td-hide">col-19</td>
                            <td class="td-hide">col-20</td>
                            <td class="td-hide">col-21</td>
                            <td class="td-hide">col-22</td>
                            <td class="td-hide">col-23</td>
                            <td class="td-hide">col-24</td>
                        </tr>
                        @*======== ROW 20 ======*@
                        <tr>
                            <td class="td-hide">col-01</td>
                            <td class="td-hide">col-02</td>
                            <td class="td-hide">col-03</td>
                            <td class="td-hide">col-04</td>
                            <td class="td-hide">col-05</td>
                            <td class="td-hide">col-06</td>
                            <td class="td-hide">col-07</td>
                            <td class="td-hide">col-08</td>
                            <td class="td-hide">col-09</td>
                            <td class="td-hide">col-10</td>
                            <td class="td-hide">col-11</td>
                            <td class="td-hide">col-12</td>
                            <td class="td-hide">col-13</td>
                            <td class="td-hide">col-14</td>
                            <td class="td-hide">col-15</td>
                            <td class="td-hide">col-16</td>
                            <td class="td-hide">col-17</td>
                            <td class="td-hide">col-18</td>
                            <td class="td-hide">col-19</td>
                            <td class="td-hide">col-20</td>
                            <td class="td-hide">col-21</td>
                            <td class="td-hide">col-22</td>
                            <td class="td-hide">col-23</td>
                            <td class="td-hide">col-24</td>
                        </tr>
                    </table>
                </div>
                <br /><br /><br /><br />
                countBaby++;
            }
        }
    </div>
    <!-- BEGIN CORE PLUGINS -->
    <script src="~/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/assets/general/scripts/jquery-barcode.js"></script>
    <script src="~/Scripts/JsBarcode.code128.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->

    @{
        var dataMatrixModel = new web.sph.App_Code.DataMatrixModel
        {
            versionHeader = "A1",                                                               //01
            connoteNum = Model.consignment.ConNote,                                             //02
            recipientPostcode = Model.consignment.Penerima.Address.Postcode,                    //03
            countryCode = Model.consignment.Penerima.Address.Country,                           //04
            productCode = (Model.consignment.Produk.IsInternational) ? "80000001" : "80000000", //05
            parentConnote = (Model.consignment.IsMps) ? Model.consignment.ConNote : "",         //06
            mpsIndicator = (Model.consignment.IsMps) ? "02" : "01",                             //07
            senderPhoneNum = Model.consignment.Pemberi.ContactInformation.ContactNumber,        //08
            senderEmail = Model.consignment.Pemberi.ContactInformation.Email,                   //09
            senderRefNo = Model.referenceNo,                                                    //10
            customerAccNum = (Model.designation == "Contract customer") ? Model.accountNo : "", //11
            recipientPhoneNum = Model.consignment.Penerima.ContactInformation.ContactNumber,    //12
            recipientEmail = Model.consignment.Penerima.ContactInformation.Email,               //13
            weight = Model.consignment.Produk.Weight.ToString("0.000"),                         //14
            dimensionVol = $"{Model.consignment.Produk.Length.ToString("0")}" +                 //15
                           $"x{Model.consignment.Produk.Width.ToString("0")}" +
                           $"x{Model.consignment.Produk.Height.ToString("0")}",
            codAmount = "", //TODO                                                              //16
            ccodAmount = "", //TODO                                                             //17
            valueAdded = Model.consignment.Produk.ValueAddedValue.ToString("0"),                //18
            itemCategory = Model.consignment.Produk.ItemCategory,                               //19
            amountPaid = Model.amountPaid.ToString("0"),                                        //20
            zone = (Model.consignment.Produk.IsInternational) ? "" : "02",                      //21
        };
    }

    <script type="text/javascript">
        JsBarcode("#barcode", "@Html.Raw(Model.consignment.ConNote)", {
            textPosition: "top",
            textMargin: 5,
            width: 2,
            height: 50
        });
        @{var countBabyBarcode = 2; }
        @foreach (var babyConnote in Model.consignment.BabyConnotes)
        {
            <text>
            JsBarcode('#barcode-' + '@Html.Raw(countBabyBarcode)', '@Html.Raw(babyConnote)', {
                textPosition: "top",
            textMargin: 5,
            width: 2,
            height: 50
            });
            </text>
            countBabyBarcode++;
        }

        $(document).ready(function () {
            @{var text = $@"{dataMatrixModel.versionHeader}^{dataMatrixModel.connoteNum}^{dataMatrixModel.recipientPostcode}^{dataMatrixModel.countryCode}^{dataMatrixModel.productCode}^{dataMatrixModel.parentConnote}^{dataMatrixModel.mpsIndicator}^{dataMatrixModel.senderPhoneNum}^{dataMatrixModel.senderEmail}^{dataMatrixModel.senderRefNo}^{dataMatrixModel.customerAccNum}^{dataMatrixModel.recipientPhoneNum}^{dataMatrixModel.recipientEmail}^{dataMatrixModel.weight}^{dataMatrixModel.dimensionVol}^{dataMatrixModel.codAmount}^{dataMatrixModel.ccodAmount}^{dataMatrixModel.valueAdded}^{dataMatrixModel.itemCategory}^{dataMatrixModel.amountPaid}^{dataMatrixModel.zone}"; }
            $("#bcTarget1").barcode("@Html.Raw(text)", "datamatrix", { showHRI: false, moduleSize: 3 });
            $("#bcTarget2").barcode("@Html.Raw(text)", "datamatrix", { showHRI: false, moduleSize: 3 });

            @{var countBabyDataMatrix = 2; }
            @foreach (var babyConnote in Model.consignment.BabyConnotes)
            {
                var textBaby = $@"{dataMatrixModel.versionHeader}^{babyConnote}^{dataMatrixModel.recipientPostcode}^{dataMatrixModel.countryCode}^{dataMatrixModel.productCode}^{dataMatrixModel.parentConnote}^{dataMatrixModel.mpsIndicator}^{dataMatrixModel.senderPhoneNum}^{dataMatrixModel.senderEmail}^{dataMatrixModel.senderRefNo}^{dataMatrixModel.customerAccNum}^{dataMatrixModel.recipientPhoneNum}^{dataMatrixModel.recipientEmail}^{dataMatrixModel.weight}^{dataMatrixModel.dimensionVol}^{dataMatrixModel.codAmount}^{dataMatrixModel.ccodAmount}^{dataMatrixModel.valueAdded}^{dataMatrixModel.itemCategory}^{dataMatrixModel.amountPaid}^{dataMatrixModel.zone}";
                <text>
                $("#bcTarget1-baby-" + "@Html.Raw(countBabyDataMatrix)").barcode("@Html.Raw(textBaby)", "datamatrix", { showHRI: false, moduleSize: 3 });
                $("#bcTarget2-baby-" + "@Html.Raw(countBabyDataMatrix)").barcode("@Html.Raw(textBaby)", "datamatrix", { showHRI: false, moduleSize: 3 });
                </text>
                countBabyDataMatrix++;
            }
            window.print();
        });
    </script>
</body>
</html>